@model IEnumerable<PatrykKamińskiProjektPZ.ViewModels.ForumDateGroup>
    <link href="~/Content/My.css" rel="stylesheet" type="text/css" />
    <body class="background">
        <div class="Lighter">
            @{
                ViewBag.Title = "User statistic";
            }

            <h2>User stats</h2>

            <table>
                <tr>
                    <th>
                        Profile
                    </th>

                    <th>
                        Article number
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p style="text-align:center">@Html.DisplayFor(modelItem => item.Name)</p>
                        </td>
                        <td>
                            <p style="text-align:center">@item.Count</p>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </body>
