@{
    ViewBag.Title = "Home Page";
}
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Content/My.css" rel="stylesheet" type="text/css" />
<link href="~/Content/My3.css" rel="stylesheet" type="text/css" />
@*<div class="container">*@
<!--<div class="take-input">
   <input type="text" placeholder="Write any text" />
  <a href="javascript:void(0);">Enter Text</a>
</div>-->
<body class="background">
    <div class="jumbotron">
        <div class="animate seven">
            <span>F</span><span>o</span><span>r</span><span>u</span><span>m</span> &nbsp;
            <span>M</span><span>o</span><span>d</span><span>e</span><span>l</span><span>a</span><span>r</span><span>s</span><span>k</span><span>i</span><span>e</span>
        </div>
    </div>
    <div class="Lighter">
        <div class="row">
            <div class="col-md-4">
                <h2>Witamy na Forum Modelarskim!</h2>
                <p>
                    Forum Modelarskie is a sample application that
                    demonstrates how to use Entity Framework 6 in an
                    ASP.NET MVC 5 web application.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Build it from scratch</h2>
                <p>You can build the application by following the steps in the tutorial series on the ASP.NET site.</p>
                <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Download it</h2>
                <p>You can download the completed project.</p>
                <p><a class="btn btn-default" href="https://webpifeed.blob.core.windows.net/webpifeed/Partners/ASP.NET%20MVC%20Application%20Using%20Entity%20Framework%20Code%20First.zip">Download &raquo;</a></p>
            </div>
        </div>
    </div>
</body>
@*<script>
        $(function () {
            $('.repeat').click(function () {
                var classes = $(this).parent().attr('class');
                $(this).parent().attr('class', 'animate');
                var indicator = $(this);
                setTimeout(function () {
                    $(indicator).parent().addClass(classes);
                }, 20);
            });
        });
    </script>*@

