@model PatrykKamińskiProjektPZ.Models.Model
<link href="~/Content/My.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Album";
}
<body class="background">
    <h2>Album</h2>
    @{ int i = 0;}
    @foreach (var item in Model.Pictures)
    {
        <dt>
            Picture
        </dt>

        <dd>
            <img src="~/Zdjecia/@item.Picture" alt="" height="200px" width="400px">
        </dd>
        i++;
    }



    <p>
        @Html.ActionLink("Back to list", "Index")
    </p>
</body>
